Package: Android-Bootanimation-Creator
Version: 1.0
Architecture: all
Essential: no
Priority: optional
Depends: less,parted,rsync
Maintainer: Sreeranj Krishna M
Description: Easy to use android bootanimation creator

